*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  background-color: #EAEFF1;
  color: #141414; }

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem; }

.heading-1 {
  margin-top: -3rem;
  text-align: center; }
  .heading-1--main {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.3rem;
    line-height: 2; }
  .heading-1--sub {
    font-family: "EB Garamond", serif;
    font-size: 4rem;
    line-height: 1.7;
    letter-spacing: .2rem;
    font-weight: 400; }

.heading-2 {
  position: absolute;
  top: -14rem;
  left: 0;
  z-index: 2;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 15rem;
  letter-spacing: -1rem;
  z-index: 3; }
  @media only screen and (max-width: 43.75em) {
    .heading-2 {
      font-size: 12rem;
      top: -11rem; } }

.heading-3 {
  font-family: "EB Garamond", serif;
  font-size: 7rem; }
  @media only screen and (max-width: 43.75em) {
    .heading-3 {
      font-size: 5rem; } }

.heading-4 {
  font-family: "EB Garamond", serif;
  font-size: 4rem; }

.mb-large {
  margin-bottom: 50rem; }

.mb-medium {
  margin-bottom: 25rem; }

.mb-small {
  margin-bottom: 10rem; }

.header {
  transition: background-color 0.5s ease;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 3rem; }
  .header__btn {
    justify-self: start;
    height: 5rem; }
    .header__btn-theme {
      justify-self: start;
      height: 5rem;
      width: 5rem;
      border: 2px solid #141414;
      shape-inside: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      transition: all .5s ease;
      -webkit-clip-path: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      clip-path: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      cursor: pointer; }
    .header__btn:hover .header__btn-theme {
      background-color: #141414;
      shape-inside: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem);
      -webkit-clip-path: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem);
      clip-path: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem); }
  .header__logo {
    justify-self: center; }
    @media only screen and (max-width: 43.75em) {
      .header__logo {
        margin-left: 5.3rem; } }
    .header__logo-img {
      width: 5rem;
      height: 5rem; }
  .header__text-box {
    grid-column: 1 / -1;
    align-self: start;
    justify-self: center; }

.navigation {
  justify-self: end; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    border: 2px solid #141414;
    shape-inside: polygon(0 0, 150px 0, 150px 150px, 0 150px);
    transition: all 0.5s ease;
    -webkit-clip-path: polygon(0 0, 150px 0, 150px 150px, 0 150px);
    clip-path: polygon(0 0, 150px 0, 150px 150px, 0 150px); }
  .navigation__nav {
    opacity: 0;
    transition: all .3s;
    margin-right: 10rem;
    margin-top: -2rem; }
  .navigation__list {
    margin-top: 65%;
    transform: translate(42%, 0);
    list-style: none;
    text-align: right; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 400;
    color: #141414;
    text-decoration: none; }
  .navigation__link::after, .navigation__link:active::after {
    display: block;
    content: '';
    border-bottom: solid 2px #141414;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .navigation__link:hover::after, .navigation__link:active::after {
    transform: scaleX(1);
    transform-origin: 100% 50%; }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1; }
  .navigation__icon {
    position: relative;
    margin-top: 2.2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2rem;
      height: 1.5px;
      background-color: #141414;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      top: 1rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -0.7rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 0.7rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
  position: relative; }
  @media only screen and (max-width: 43.75em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, 100%); } }
  .gallery__card {
    position: relative;
    z-index: 1; }
    .gallery__card--feature {
      grid-column: 1 / -1; }
  .gallery__card:hover .gallery__img {
    filter: grayscale(100%) brightness(40%); }
  .gallery__link-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .gallery__link-box {
        flex-direction: column; } }
  .gallery__link {
    text-decoration: none;
    color: #fff;
    width: 100%;
    opacity: 0;
    transition: all .3s;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .gallery__link {
        margin-bottom: 2rem; } }
    .gallery__link i {
      font-size: 5rem;
      margin-left: 1rem; }
    .gallery__link p {
      margin-left: 1rem;
      font-size: 1.3rem; }
    .gallery__link:hover {
      color: #BABCBF;
      transform: translateX(3px); }
  .gallery__card:hover .gallery__link {
    opacity: 1; }
  .gallery__img {
    display: block;
    width: 100%;
    height: 60rem;
    object-fit: cover;
    transition: .3s -webkit-filter ease;
    filter: grayscale(0%) brightness(70%); }
  .gallery__text {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #fff;
    z-index: 2;
    width: 70%; }

.container {
  display: grid;
  grid-template-rows: 95vh repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.projects {
  grid-column: center-start / center-end;
  margin-bottom: 30rem; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      grid-column: full-start / full-end; } }

.work {
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 56.25em) {
    .work {
      grid-column: full-start / full-end; } }

.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 43.75em) {
    .about {
      grid-template-columns: 1fr; } }
  .about__img {
    grid-column: 1 / span 2;
    width: 100%; }
    @media only screen and (max-width: 43.75em) {
      .about__img {
        grid-column: 1 / -1;
        object-fit: cover; } }
  .about__text-box {
    grid-column: 3 / span 2;
    padding: 5rem 10rem;
    background-color: darkslategrey;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media only screen and (max-width: 43.75em) {
      .about__text-box {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        padding: 2.5rem 8rem;
        height: 50rem; } }
    .about__text-box-icons {
      display: flex;
      justify-content: space-evenly;
      font-size: 5rem; }
      .about__text-box-icons a {
        color: rgba(255, 255, 255, 0.6);
        transition: color .3s; }
        .about__text-box-icons a:hover {
          color: #fff; }

.copylove {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center; }
  .copylove__wrapper {
    display: inline-block; }
  .copylove a {
    text-decoration: none;
    font-weight: 700;
    color: inherit; }
    .copylove a::after, .copylove a:active::after {
      display: block;
      content: '';
      border-bottom: solid 2px #141414;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out; }
    .copylove a:hover::after, .copylove a:active::after {
      transform: scaleX(1);
      transform-origin: 100% 50%; }
