*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box;
  background-color: #EAEFF1;
  color: #141414;
  transition: all .25s ease; }
  body.dark-theme {
    background-color: #141414;
    color: #EAEFF1; }

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem; }

.heading-1 {
  margin-top: -3rem;
  text-align: center; }
  .heading-1--main {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.3rem;
    line-height: 2; }
  .heading-1--sub {
    font-family: "EB Garamond", serif;
    font-size: 4rem;
    line-height: 1.7;
    letter-spacing: .2rem;
    font-weight: 400; }

.heading-2 {
  position: absolute;
  top: -14rem;
  left: 0;
  z-index: 2;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 15rem;
  letter-spacing: -1rem;
  z-index: 3; }
  @media only screen and (max-width: 43.75em) {
    .heading-2 {
      font-size: 12rem;
      top: -11rem; } }

.heading-3 {
  font-family: "EB Garamond", serif;
  font-size: 7rem; }
  @media only screen and (max-width: 43.75em) {
    .heading-3 {
      font-size: 5rem; } }

.heading-4 {
  font-family: "EB Garamond", serif;
  font-size: 3rem; }

.mb-large {
  margin-bottom: 50rem; }

.mb-medium {
  margin-bottom: 25rem; }

.mb-small {
  margin-bottom: 10rem; }

.header {
  transition: background-color 0.5s ease;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  padding: 3rem; }
  .header__btn {
    grid-row: 1 / 2;
    grid-column: 1/ -1;
    justify-self: end;
    height: 5rem; }
    .header__btn-theme {
      justify-self: start;
      height: 5rem;
      width: 5rem;
      border: 2px solid #141414;
      shape-inside: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      transition: all .5s ease;
      -webkit-clip-path: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      clip-path: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      cursor: pointer; }
      .header__btn-theme.dark-theme {
        border: 2px solid #EAEFF1; }
    .header__btn:hover .header__btn-theme {
      background-color: #141414;
      shape-inside: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem);
      -webkit-clip-path: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem);
      clip-path: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem); }
      .header__btn:hover .header__btn-theme.dark-theme {
        background-color: #EAEFF1; }
  .header__logo {
    grid-row: 1/2;
    grid-column: 1/ -1;
    justify-self: start;
    width: 5rem;
    height: 5rem;
    background-image: url("/img/ih_logo-black.svg"); }
    .header__logo.dark-theme {
      background-image: url("/img/ih_logo-white.svg"); }
    .header__logo-img {
      width: 5rem;
      height: 5rem; }
  .header__text-box {
    grid-column: 1 / -1;
    align-self: start;
    justify-self: center; }

.footer {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer__logo {
    width: 5rem;
    height: 5rem;
    background-image: url("/img/ih_logo-black.svg"); }
    .footer__logo.dark-theme {
      background-image: url("/img/ih_logo-white.svg"); }
  .footer__link {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    background: linear-gradient(to bottom, #141414 0%, #141414 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    text-decoration: none;
    transition: background-size .3s; }
    .footer__link.dark-theme {
      background: linear-gradient(to bottom, #EAEFF1 0%, #EAEFF1 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 2px 2px;
      text-decoration: none;
      transition: background-size .3s; }
    .footer__link:hover {
      background-size: 4px 50px;
      color: #EAEFF1; }
      .footer__link:hover.dark-theme {
        color: #141414; }
  .footer__text-box .heading-1 {
    margin-top: 0; }
    .footer__text-box .heading-1 --sub {
      font-size: 3rem;
      letter-spacing: 1.6rem; }
  .footer__btn {
    height: 5rem; }
    .footer__btn-theme {
      justify-self: start;
      height: 5rem;
      width: 5rem;
      border: 2px solid #141414;
      shape-inside: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      transition: all .5s ease;
      -webkit-clip-path: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      clip-path: polygon(0 0, 5rem 0, 5rem 5rem, 0 5rem);
      cursor: pointer; }
      .footer__btn-theme.dark-theme {
        border: 2px solid #EAEFF1; }
    .footer__btn:hover .footer__btn-theme {
      background-color: #141414;
      shape-inside: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem);
      -webkit-clip-path: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem);
      clip-path: polygon(2.5rem 0, 2.5rem 0, 0 5rem, 5rem 5rem); }
      .footer__btn:hover .footer__btn-theme.dark-theme {
        background-color: #EAEFF1; }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
  position: relative; }
  @media only screen and (max-width: 43.75em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, 100%); } }
  .gallery__card {
    position: relative;
    z-index: 1; }
    .gallery__card--feature {
      grid-column: 1 / -1; }
  .gallery__card:hover .gallery__img {
    filter: grayscale(100%) brightness(40%); }
  .gallery__link-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .gallery__link-box {
        flex-direction: column; } }
  .gallery__link {
    text-decoration: none;
    color: #fff;
    width: 100%;
    opacity: 0;
    transition: all .3s;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .gallery__link {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .gallery__link {
        opacity: 1; } }
    .gallery__link i {
      font-size: 5rem;
      margin-left: 1rem; }
    .gallery__link p {
      margin-left: 1rem;
      font-size: 1.3rem; }
    .gallery__link:hover {
      color: #BABCBF;
      transform: translateX(3px); }
  .gallery__card:hover .gallery__link {
    opacity: 1; }
  .gallery__img {
    display: block;
    width: 100%;
    height: 60rem;
    object-fit: cover;
    transition: .3s -webkit-filter ease;
    filter: grayscale(0%) brightness(70%); }
    @media only screen and (max-width: 43.75em) {
      .gallery__img {
        filter: grayscale(0%) brightness(40%); } }
  .gallery__text {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #fff;
    z-index: 2;
    width: 70%; }
  .gallery__heading-box {
    display: flex;
    align-items: center; }
    .gallery__heading-box h2 {
      margin-left: 2rem;
      margin-top: 3rem; }

.container {
  display: grid;
  grid-template-rows: 95vh repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.projects {
  grid-column: center-start / center-end;
  margin-bottom: 30rem; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      grid-column: full-start / full-end; } }

.work {
  grid-column: center-start / center-end; }
  @media only screen and (max-width: 56.25em) {
    .work {
      grid-column: full-start / full-end; } }

.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 43.75em) {
    .about {
      grid-template-columns: 1fr; } }
  .about__img {
    grid-column: 1 / span 2;
    width: 100%; }
    @media only screen and (max-width: 43.75em) {
      .about__img {
        grid-column: 1 / -1;
        object-fit: cover; } }
  .about__link-mail:link, .about__link-mail:visited {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 400;
    color: #EAEFF1;
    text-decoration: none;
    text-align: center;
    word-break: break-all;
    opacity: .75;
    transition: opacity .3s; }
    .about__link-mail:link:hover, .about__link-mail:visited:hover {
      opacity: 1; }
  .about__link-mail::after, .about__link-mail:active::after {
    display: block;
    content: '';
    border-bottom: solid 2px #EAEFF1;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    opacity: 1; }
  .about__link-mail:hover::after, .about__link-mail:active::after {
    transform: scaleX(1);
    transform-origin: 100% 50%; }
  .about__text-box {
    grid-column: 3 / span 2;
    padding: 5rem 8rem;
    background-color: darkslategrey;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .about__text-box p {
      line-height: 1.5; }
    @media only screen and (max-width: 1150px) {
      .about__text-box {
        padding: 5rem 6rem; } }
    @media only screen and (max-width: 1050px) {
      .about__text-box {
        padding: 5rem 3rem; } }
    @media only screen and (max-width: 43.75em) {
      .about__text-box {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        padding: 2.5rem 8rem;
        height: 50rem; } }
    .about__text-box-icons {
      display: flex;
      justify-content: space-evenly;
      font-size: 5rem; }
      .about__text-box-icons a {
        color: rgba(255, 255, 255, 0.6);
        transition: color .3s; }
        .about__text-box-icons a:hover {
          color: #fff; }
