*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 43.75%;
    }
}

body {
    box-sizing: border-box;
    background-color: $background-light;
    color: $foreground-light;
    transition: all .25s ease;

    &.dark-theme {
        background-color: $background-dark;
        color: $foreground-dark;
    }
}