body {
    font-family: $reading-font;
    font-size: $default-font-size;
}

.heading-1 {
    margin-top: -3rem;

    &--main {
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 1.3rem;
        line-height: 2;
    }

    &--sub {
        font-family: $heading-font;
        font-size: 4rem;
        line-height: 1.7;
        letter-spacing: .2rem;
        font-weight: 400;
    }
}

.heading-2 {
    position: absolute;
    top: -14rem;
    left: 0;
    z-index: 2;
    font-family: $reading-font;
    font-weight: 700;
    // text-transform: uppercase;
    font-size: 15rem;
    letter-spacing: -1rem;
    z-index: 3;
    // transform: translateY(-50%);
    // margin-top: -10rem;
}

.heading-3 {
    font-family: $heading-font;
    font-size: 7rem;
}

.heading-4 {
    font-family: $heading-font;
    font-size: 4rem;
}